@import '../abstracts/all';

.footer {
  @apply w-4/5 mx-auto h-fit rounded-lg max-[640px]:w-full max-[640px]:rounded-none;
  background-color: $color-purple;

  .footer__wrapper {
    @apply px-8 py-8;

    .wrapper__divider {
      @apply w-full h-1 my-16 rounded;
      background-color: $color-white;
    }

    .wrapper__content {
      @apply flex justify-between max-[480px]:flex-col max-[480px]:items-start;

      .footer__list {
        @apply list-none max-[480px]:mt-12;

        .wrapper__item {
          @apply mb-2;
        }
      }

      .footer__text {
        @apply font-normal text-base tracking-normal capitalize max-[480px]:text-xl;
        color: $color-white;
        font-family: $font-outfit;
      }
    }
  }
}